.table{
    -fx-background-color:#000;
}

.pane{

}
.homeHbox:hover{
    -fx-background-color:#C4C4C3;
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-border-style: solid;
}

.btn1{
    -fx-background-color:#0078D7;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
    -fx-text-color:#FFF;

}

.btn1:hover{
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-border-color:#FFF;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}

.btn2{
    -fx-background-color:#eb0c0c;
    -fx-text-color:#FFF;
}

.btn2:hover{
    -fx-border-style: solid;
    -fx-border-color:#FFF;
    -fx-border-width:2px;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}
.barner{
    -fx-background-color:#fff;
}
.text_box{
    -fx-background-color:#C4C4C3;
    -fx-background-radius:10px;
}

.text-description{
    -fx-background-color:#E7B100;
}

.text-description:hover{
    -fx-background-color:#FFDE5C;
}

.box{
    -fx-background-color:#fff;
    -fx-background-radius:15px;
}

.anchorpane{
    -fx-background-color:#F4F4F4;
    -fx-background-radius:15px;
}

.back{
    -fx-background-color:#000;
}

.p{
    -fx-cursor: hand;
}